
/* fi */
body {
    font-family: Georgia;
    background-color : rgby(255,255,255,);

}
/* immagine logo e sfondo, dimensioni non corrette da rivedere*/
    #logo{widht: 50px;height: 50px; background-image: url("img/pattern.png");
                                    background-size: cover;

    }

    /* third section */
    
    span {
        background-color: brown;
    }

    /* fourth section, the table */
    
    .blue{
        color: white;
        background-color: blue;
    }

    .lightblue{
        color:black;
        background-color: lightblue;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .normal{
        color: black;
    }

    /* footer */

    h3{
        color: dimgray;
    }

    #footer1{
        background-image: url("img/monitor.jpg");
        background-repeat: no-repeat;
        color: white;
    }
    #footer2{
        background-image: url("img/graph.jpg");
        background-repeat: no-repeat;
        color: white;
    }