
/* fi */
body {
    font-family: Georgia;
    background-color : rgby(255,255,255,);

}
/* immagine logo e sfondo, dimensioni non corrette da rivedere*/
    #logo{widht: 50px;height: 50px; background-image: url("img/pattern.png");
                                    background-size: cover;

    }

    /* third section */
    
    span {
        background-color: brown;
    }
